# Dependency directories
node_modules/

# next.js build output
.next

# production server output
dist

# ide folders
#.idea/

# files
*-lock.json
*.env*

src/public/stylesheets/style.css
src/public/stylesheets/style.css.map
